In [2]:
import os
import pandas as pd

CURR_DIR_PATH = os.path.dirname(os.path.realpath('__file__'))

In [60]:
s_house_sales = CURR_DIR_PATH + \
    '/Bostader/clean/clean_forsaljning_bostadsratter_Medelpris_tkr_2000-2021.csv'
df_small_house = pd.read_csv(s_house_sales, index_col=False)
df_small_house = df_small_house.drop('medianpris_tkr', axis=1)
df_small_house.shape

(22, 3)

In [65]:
f_index = CURR_DIR_PATH + \
    '/Bostader/clean/clean_fastighetsprisindex_fritidshus_1976-2022.csv'


df_f_index = pd.read_csv(f_index, index_col=False)
df_f = df_f_index.tail(23).reset_index(drop = True)

In [76]:
df = df_f.join(df_small_house.drop('year', axis = 1))
df.head(22).corr()

,år,Fastighetsprisindex_för_fritidshus_(1981=100),antal,medelpris_tkr
år,1.000000,0.978853,0.942727,0.988788
Fastighetsprisindex_för_fritidshus_(1981=100),0.978853,1.000000,0.961245,0.982976
antal,0.942727,0.961245,1.000000,0.947302
medelpris_tkr,0.988788,0.982976,0.947302,1.000000

In [77]:
df

,år,Fastighetsprisindex_för_fritidshus_(1981=100),antal,medelpris_tkr
0,2000,306,72392.0,390.0
1,2001,335,72096.0,441.0
2,2002,358,76297.0,526.0
3,2003,383,81161.0,571.0
4,2004,424,84787.0,671.0
5,2005,470,89848.0,776.0
6,2006,527,92697.0,933.0
7,2007,588,99455.0,1117.0
8,2008,603,89899.0,1080.0
9,2009,633,94717.0,1193.0
10,2010,679,98203.0,1312.0
11,2011,677,93509.0,1357.0
12,2012,664,94141.0,1411.0
13,2013,682,100151.0,1538.0
14,2014,710,104652.0,1720.0
15,2015,785,110157.0,2021.0
16,2016,826,105656.0,2210.0
17,2017,902,109730.0,2380.0
18,2018,892,103508.0,2254.0
19,2019,923,107486.0,2318.0
20,2020,1014,117083.0,2520.0
21,2021,1186,125920.0,2781.0
22,2022,1198,NaN,NaN