In [3]:
from pyscbwrapper import SCB
import pandas as pd

In [13]:
scb = SCB('sv', 'BO', 'BO0501', 'BO0501C', 'FastprisBRFRegionAr')
data = scb.get_data()
print(data)
print(len(data))

{'columns': [{'code': 'Tid', 'text': 'år', 'type': 't'}, {'code': 'BO0501R6', 'text': 'Antal', 'type': 'c'}, {'code': 'BO0501R7', 'text': 'Medelpris i tkr', 'type': 'c'}, {'code': 'BO0501R8', 'text': 'Medianpris i tkr', 'type': 'c'}], 'comments': [], 'data': [{'key': ['2000'], 'values': ['72392', '390', '173']}, {'key': ['2001'], 'values': ['72096', '441', '225']}, {'key': ['2002'], 'values': ['76297', '526', '295']}, {'key': ['2003'], 'values': ['81161', '571', '360']}, {'key': ['2004'], 'values': ['84787', '671', '455']}, {'key': ['2005'], 'values': ['89848', '776', '530']}, {'key': ['2006'], 'values': ['92697', '933', '650']}, {'key': ['2007'], 'values': ['99455', '1117', '795']}, {'key': ['2008'], 'values': ['89899', '1080', '800']}, {'key': ['2009'], 'values': ['94717', '1193', '880']}, {'key': ['2010'], 'values': ['98203', '1312', '995']}, {'key': ['2011'], 'values': ['93509', '1357', '1050']}, {'key': ['2012'], 'values': ['94141', '1411', '1110']}, {'key': ['2013'], 'values': ['100151', '1538', '1250']}, {'key': ['2014'], 'values': ['104652', '1720', '1425']}, {'key': ['2015'], 'values': ['110157', '2021', '1700']}, {'key': ['2016'], 'values': ['105656', '2210', '1870']}, {'key': ['2017'], 'values': ['109730', '2380', '2020']}, {'key': ['2018'], 'values': ['103508', '2254', '1900']}, {'key': ['2019'], 'values': ['107486', '2318', '1950']}, {'key': ['2020'], 'values': ['117083', '2520', '2100']}, {'key': ['2021'], 'values': ['125920', '2781', '2300']}], 'metadata': [{'infofile': 'BO0501', 'updated': '2022-06-27T09:02:00Z', 'label': 'Försäljning av bostadsrätter efter år och tabellinnehåll', 'source': 'SCB'}]}
4

In [16]:
with open('raw/raw_forsaljning_bostadsratter_Medelpris_tkr_2000-2021.json', 'w') as outfile:
    outfile.write(f"{data}")

In [15]:
df = pd.DataFrame.from_dict(data, orient = 'index')
df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
columns,"{'code': 'Tid', 'text': 'år', 'type': 't'}","{'code': 'BO0501R6', 'text': 'Antal', 'type': ...","{'code': 'BO0501R7', 'text': 'Medelpris i tkr'...","{'code': 'BO0501R8', 'text': 'Medianpris i tkr...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
comments,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
data,"{'key': ['2000'], 'values': ['72392', '390', '...","{'key': ['2001'], 'values': ['72096', '441', '...","{'key': ['2002'], 'values': ['76297', '526', '...","{'key': ['2003'], 'values': ['81161', '571', '...","{'key': ['2004'], 'values': ['84787', '671', '...","{'key': ['2005'], 'values': ['89848', '776', '...","{'key': ['2006'], 'values': ['92697', '933', '...","{'key': ['2007'], 'values': ['99455', '1117', ...","{'key': ['2008'], 'values': ['89899', '1080', ...","{'key': ['2009'], 'values': ['94717', '1193', ...",...,"{'key': ['2012'], 'values': ['94141', '1411', ...","{'key': ['2013'], 'values': ['100151', '1538',...","{'key': ['2014'], 'values': ['104652', '1720',...","{'key': ['2015'], 'values': ['110157', '2021',...","{'key': ['2016'], 'values': ['105656', '2210',...","{'key': ['2017'], 'values': ['109730', '2380',...","{'key': ['2018'], 'values': ['103508', '2254',...","{'key': ['2019'], 'values': ['107486', '2318',...","{'key': ['2020'], 'values': ['117083', '2520',...","{'key': ['2021'], 'values': ['125920', '2781',..."
metadata,"{'infofile': 'BO0501', 'updated': '2022-06-27T...",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None